<div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="name">Check In Date</label>
        <input class="form-control" id="check-in" [(ngModel)]="checkInDate" placeholder="check in" type="text">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="name">Check Out Date</label>
        <input class="form-control" id="check-out" [(ngModel)]="checkOutDate" placeholder="checkout" type="text">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="name"></label>
        <button (click)="getAllAvailableProperty()" class="btn btn-sm btn-primary float-right">Search
          Hotels</button>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let productRow of productsDisplyaArray ; index as i" class="row">

  <div class="col-md-4">
    <figure class="card card-product">
      <div class="img-wrap"><img [src]="productRow[0].image"></div>
      <figcaption class="info-wrap">
        <h4 class="title">{{productRow[0].name}}</h4>
        <div class="label-rating">{{productRow[0].tagline}}</div>
        <!-- <p class="desc">Some small description goes here</p> -->
        <div class="rating-wrap">
          <div class="label-rating">132 reviews</div>
          <!-- <div class="title">ISBN : {{productRow[0].isbn}}</div> -->
        </div>
        <!-- rating-wrap.// -->
      </figcaption>
      <div class="bottom-wrap">
        <button (click)="bookProperty(productRow[0].property_id)" class="btn btn-sm btn-primary float-right">Book
          Now</button>
        <div class="price-wrap h5">
          <span class="price-new">$1280</span> <del class="price-old">$1980</del>
        </div> <!-- price-wrap.// -->
      </div> <!-- bottom-wrap.// -->
    </figure>
  </div> <!-- col // -->

  <div *ngIf="productRow[1] !== undefined" class="col-md-4">
    <figure class="card card-product">
      <div class="img-wrap"><img [src]="productRow[1].image"></div>
      <figcaption class="info-wrap">
        <h4 class="title">{{productRow[1].name}}</h4>
        <div class="label-rating">{{productRow[1].tagline}}</div>
        <!-- <p class="desc">Some small description goes here</p> -->
        <div class="rating-wrap">
          <div class="label-rating">132 reviews</div>
          <!-- <div class="title">ISBN : {{productRow[1].isbn}}</div> -->
        </div> <!-- rating-wrap.// -->
      </figcaption>
      <div class="bottom-wrap">
        <button (click)="bookProperty(productRow[1].property_id)" class="btn btn-sm btn-primary float-right">Book
          Now</button>
        <div class="price-wrap h5">
          <span class="price-new">$1280</span> <del class="price-old">$1980</del>
        </div> <!-- price-wrap.// -->
      </div> <!-- bottom-wrap.// -->
    </figure>
  </div> <!-- col // -->

  <div *ngIf="productRow[2] !== undefined" class="col-md-4">
    <figure class="card card-product">
      <div class="img-wrap"><img [src]="productRow[2].image"></div>
      <figcaption class="info-wrap">
        <h4 class="title">{{productRow[2].name}}</h4>
        <div class="label-rating">{{productRow[2].tagline}}</div>
        <!-- <p class="desc">Some small description goes here</p> -->
        <div class="rating-wrap">
          <div class="label-rating">132 reviews</div>
          <!-- <div class="title">ISBN : {{productRow[2].isbn}}</div> -->
        </div> <!-- rating-wrap.// -->
      </figcaption>
      <div class="bottom-wrap">
        <button (click)="bookProperty(productRow[2].property_id)" class="btn btn-sm btn-primary float-right">Book
          Now</button>
        <div class="price-wrap h5">
          <span class="price-new">$1280</span> <del class="price-old">$1980</del>
        </div> <!-- price-wrap.// -->
      </div> <!-- bottom-wrap.// -->
    </figure>
  </div> <!-- col // -->

</div>
<!--/.row-->